@font-face{
  font-family: cmu-roman;
  src: url(/static/fonts/cmunorm.ttf);
}

body{
  font-family: cmu-roman;
  font-size: 1.5em;
}

h3{
  text-align: center;
}

footer{
  display: block;
  position: absolute;
  bottom: 0px;
  left: 1em;
  right: 1em;
}

#login{
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#login input{
  display: block;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

#login p{
  text-align: center;
}

#login input[type=submit]{
  margin-top: 2em;
  margin-bottom: 2em;
}

#login h3{
  margin-top: 2em;
  margin-bottom: 2em;
}
