{% extends "layout.html" %}

{% block body %}

<form class="main-form" method="post" onsubmit="return captureForm()">
    <script>

        function captureForm(){
            if(ddocument.getElementById("password").value.length > 0 && ocument.getElementById("password").value.length < 8){
                document.getElementById("error_message").innerHTML = "Salasanan kuuluu olla vähintään kahdeksan merkin pituinen.";
                return false;
            }
            if(document.getElementById("account").value.length == 0){
                document.getElementById("error_message").innerHTML = "Käyttäjätunnus ei voi olla tyhjä."
                return false;
            }
            if(document.getElementById("account").value.startsWith(" ") || document.getElementById("account").value.endsWith(" ")){
                document.getElementById("error_message").innerHTML = "Käyttäjätunnus ei voi alkaa tai loppua välillä."
                return false;
            }
            return true;
        }

    </script>
    <h3>Muokkaa käyttäjää</h3>
    <p id="error_message">{% if error_message %}{{error_message}}{% endif %}</p>
    <input id="account" name="account" placeholder="Käyttäjätunnus" value="{{account}}"/>
    <input id="password" type="password" name="password" placeholder="Salasana (jätä tyhjäksi jos et halua vaihtaa)"/>
    <input type="submit" value="Päivitä tiedot"/>
</form>

    <h3>Lataa selvitys Värkin sinusta tallentamista tiedoista</h3>

    <p style="text-align: center;"><a href="/downloadData">Tästä</a> voit ladata kaiken Värkin tähän käyttäjään yhdistämän tiedon.</p>

    <h3>Poista käyttäjä</h3>

    <p style="width: 90%; margin-left: 5%; text-align: justify;">Tämä toimi on <strong>peruuttamaton</strong> ja tuhoaa <strong>kaiken käyttäjään liittyvän tiedon</strong> kuten tunnuksen, salasanan ja postauksien sisällön. Tietokantaan jää nimettömänä tieto siitä, että postaukset on tehty, mutta niiden teksti tuhoutuu. Tämän tarkoituksena on mahdollistaa niihin annettujen vastausten järkevä esitys jahka kyseinen ominaisuus toteutetaan. Vielä auki oleviin äänestyksiin annetut äänet ja tiedot siitä, mitkä postaukset sinulla on seuraavaksi moderoitavana, tuhoutuvat. Läpi menneiden äänestysten ylä-äänet anonymisoidaan (tietokantaan jää vain tieto siitä, millaiset äänet annettiin) aina heti äänestyksen sulkeutuessa, joten niihin toimi ei vaikuta. Hylättyjen äänestysten tiedot tuhotaan kokonaan heti äänestysten sulkeutuessa.</p>

    <p style="text-align: center;"><a href="/deleteUser"><button>Poista käyttäjä</button></a></p>

{% endblock %}
