{% extends "layout.html" %}

{% block body %}

    <div class="main-form"/>

    {% for post in posts %}
       <div class="postcard">
       {{post["text"]|markdown}}

       <a href="/newpost?parent_id={{post["post_id"]}}"/><img alt="reply" src="/static/reply.svg"/></a>

       {% if account_id == post["account_id"] %}

       <a href="/delete/{{post["post_id"]}}"/><img alt="delete" src="/static/delete.svg"/></a>
       <a href="/newpost?post_id={{post["post_id"]}}"/><img alt="edit" src="/static/create.svg"/></a>

       {% endif %}
       </div>

       {% for post in post["replies"] %}
       <div class="postcard reply">

       {{post["text"]|markdown}}

       {% if account_id == post["account_id"] %}

       <a href="/delete/{{post["post_id"]}}"/><img alt="delete" src="/static/delete.svg"/></a>
       <a href="/newpost?post_id={{post["post_id"]}}"/><img alt="edit" src="/static/create.svg"/></a>

       {% endif %}
       </div>
       {% endfor %}

    {% endfor %}

    </div>

{% endblock %}
