<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/styles.css"/>
        <title>{{ title }}</title>
    </head>

    <body>

        <header>
            <form>
            <input style="position: relative; left: 10%; right: 10%; width: 80%;" placeholder="Hae Värkistä"/>
            </form>
            <hr/>
        </header>

        {% block body %}

        {% endblock %}

        <footer>
            <hr/>
            <p align="right">
                <img src="static/nojs.png"/>
            </p>
        </footer>
    </body>
</html>

