{% extends "layout.html" %}

{% block body %}

<form class="main-form" method="post" onsubmit="return captureForm()">
    <script>

        // Whether this is a new account creation or a login, the password must be 8 chars long and the account must be non-empty

        function captureForm(){
            if(document.getElementById("password").value.length < 8){
                document.getElementById("error_message").innerHTML = "Salasanan kuuluu olla vähintään kahdeksan merkin pituinen.";
                return false;
            }
            if(document.getElementById("account").value.length == 0){
                document.getElementById("error_message").innerHTML = "Käyttäjätunnus ei voi olla tyhjä."
                return false;
            }
            return true;
        }

    </script>
    <h3>Kirjaudu sisään</h3>
    <p id="error_message">{% if error_message %}{{error_message}}{% endif %}</p>
    <input id="account" name="account" placeholder="Käyttäjätunnus"/>
    <input id="password" type="password" name="password" placeholder="Salasana"/>
    {% if not hide_login %}
    <input type="submit" value="Kirjaudu sisään"/>
    {% endif %}
    {% if not hide_login and not hide_signup %}
    <p>Eikö sinulla ole tunnusta?</p>
    {% endif %}
    {% if not hide_signup %}
    <input name="create account" type="submit" value="Luo tunnus"/>
    {% endif %}
</form>

{% endblock %}
